@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

.success {
  color: green;
}

.failure {
  color: red;
}

#played {
  color: green;
}

#authenticated {
  display: none;
}

#change-password {
  align-self: flex-start;
  width: 50%;
}

#sign-out{
  align-self: flex-start;
  width: 50%;
}

.container {
  display: none;
  justify-content: flex-end;
}

.row {
  display: flex;
  width: 50%;
  padding-top: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
  border: 1px solid black;
  height: 80px;
}

.x {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  height: 80px;
}

.o {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  height: 80px;
}
